{% extends '_base.html' %} 
{% block title %}Home{% endblock title %} 

{% block content %} 

<pre style="margin-bottom: 30px" class="line-numbers">
<code class="language-python" id="new_code">
if day == 'Monday':
    print('I will go to the park.')
else:
    print('I will stay at home.')    
</code>
</pre>


<form method="POST" action="{% url 'index'%}" id="main-form">
    {% csrf_token %}
    <div class="mb-3">
    <textarea
        name="code"
        class="form-control"
        placeholder="Tell AI to fix code for you..."
        rows="3"
        id="code"
    ></textarea>
    </div>
    <select class="form-select" name="lang" id="lang">
    <option selected>Select Programming Language</option>
    {% for lang in lang_list %}
    <option value={{ lang }}>{{ lang|upper }}</option>
    {% endfor %}
    </select>
    {% if request.user.is_authenticated %}
        <button class="btn btn-secondary" style="margin-top: 20px" type="submit">
        Submit
        </button>
    {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-secondary" style="margin-top: 20px">Login</a>
    {% endif %}
</form>


{% endblock content %}
