{% extends '_base.html' %} 
{% block title %}Suggest{% endblock title %} 

{% block content %} 

{% if code %}

<pre style="margin-bottom: 30px">
<code class="line-numbers language-{{ lang|lower }}">
{{ code }}
</code>
</pre>

{% else %}

<pre style="margin-bottom: 30px">
    <code class="line-numbers language-python">
    if age == 18:
        print('You can drink beer')
    else:
        print('Grow up boy')
    </code>
</pre>

{% endif %}

<form method="POST" action="{% url 'suggest'%}">
    {% csrf_token %}
    <div class="mb-3">
    <textarea
        name="code"
        class="form-control"
        placeholder="Tell AI to suggest code for you..."
        rows="3"
    ></textarea>
    </div>
    <select class="form-select" name="lang">
    <option selected>Select Programming Language</option>
    {% for lang in lang_list %}
    <option value={{ lang }}>{{ lang|upper }}</option>
    {% endfor %}
    </select>
    <button class="btn btn-secondary" style="margin-top: 20px" type="submit">
    Submit
    </button>
</form>


{% endblock content %}
